/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

h1 {
  font-family: "Merriweather", serif;
  font-style: 900;
  font-size: 24pt;
  color: #000000;
  line-height: 1em; }

h2 {
  font-family: "Merriweather", serif;
  font-style: 900;
  font-size: 16pt;
  color: #000000;
  line-height: 1em; }

h3 {
  font-family: "Merriweather", serif;
  font-style: 900;
  font-size: 12pt;
  color: #000000;
  line-height: 1em; }

h4 {
  font-family: "Merriweather Sans", sans-serif;
  font-style: 900;
  font-size: 12pt;
  color: #000000;
  line-height: 1.5em; }

p {
  font-family: "Merriweather Sans", sans-serif;
  font-style: 300;
  font-size: 12pt;
  color: #000000;
  line-height: 1.5em; }

a {
  font-family: "Merriweather Sans", sans-serif;
  font-style: 300;
  font-size: 12pt;
  color: #2931FF;
  line-height: 1.5em;
  text-decoration: none; }

nav li {
  font-family: "Merriweather Sans", sans-serif;
  font-style: 300;
  font-size: 12pt;
  line-height: 1.5em; }
  nav li a {
    text-decoration: none;
    color: #000000; }
    nav li a:hover {
      color: #2931FF; }
    nav li a:focus {
      color: #2931FF; }

.current {
  color: #2931FF; }

.jump {
  position: absolute;
  left: -999px;
  font-style: italic; }
  .jump:focus {
    position: absolute;
    left: 144px; }

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid darkgrey;
  display: grid;
  grid-template-rows: 72px auto 72px;
  grid-area: "logo" "sidebar-nav" "sidebar-footer"; }

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px; }

.logo-text {
  margin-left: 32px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 1em; }

.sidebar-nav {
  display: none;
  grid-area: sidebar-nav;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 32px; }

.sidebar-footer {
  display: none;
  grid-area: sidebar-footer;
  height: 72px;
  margin-left: 32px; }

.header {
  grid-area: header; }

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 72px; }

.header-nav-item {
  color: white;
  padding: 16px; }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px; }

.footer-link {
  color: #000000; }
  .footer-link:hover {
    color: #2931FF; }
  .footer-link:focus {
    color: #2931FF; }

.content {
  grid-area: content;
  grid-template-rows: 16px auto;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url("../images/background_grid.svg");
  background-size: 8px; }

.title {
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px; }

.project {
  grid-row-start: 2;
  display: grid; }

.project-item {
  display: grid;
  grid-template-rows: 32px auto; }

.project-item-title {
  grid-row-start: 1; }

.project-text-left {
  grid-row-start: 2;
  padding-right: 16px; }

.project-text-right {
  grid-row-start: 2;
  padding-left: 16px; }

.project-text-left-split {
  grid-row-start: 2;
  padding-right: 16px;
  display: grid;
  grid-template-columns: 40% 60%; }

.project-text-right-split {
  grid-row-start: 2;
  padding-left: 16px;
  display: grid;
  grid-template-columns: 40% 60%; }

.project-img {
  max-width: 100%; }

.rwd-img {
  max-width: 10px; }

.gallery {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  justtify-items: center;
  align-items: center;
  grid-gap: 2%; }

.gallery-item-a {
  grid-column: 0.5;
  grid-row: 0.5; }

.gallery-item-b {
  grid-column: 0.66667;
  grid-row: 0.5; }

.gallery-item-c {
  grid-column: 0.75;
  grid-row: 0.5; }

.gallery-item-d {
  grid-column: 0.5;
  grid-row: 0.66667; }

.gallery-item-e {
  grid-column: 0.66667;
  grid-row: 0.66667; }

.gallery-item-f {
  grid-column: 0.75;
  grid-row: 0.66667; }

.gallery-item-g {
  grid-column: 0.5;
  grid-row: 0.75; }

.gallery-item-h {
  grid-column: 0.66667;
  grid-row: 0.75; }

.gallery-item-i {
  grid-column: 0.75;
  grid-row: 0.75; }

.gallery-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover; }

.main-grid {
  display: grid; }

@media screen and (max-width: 600px) {
  .main-grid {
    grid-template-rows: 72px 72px auto 72px;
    grid-template-areas: "logo" "header" "content" "footer"; }

  .gallery {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 1fr); }

  .gallery-item-a {
    grid-column: 1/2;
    grid-row: 1/2; }

  .gallery-item-b {
    grid-column: 1/2;
    grid-row: 2/3; }

  .gallery-item-c {
    grid-column: 1/2;
    grid-row: 3/4; }

  .gallery-item-d {
    grid-column: 1/2;
    grid-row: 4/5; }

  .gallery-item-e {
    grid-column: 1/2;
    grid-row: 5/6; }

  .gallery-item-f {
    grid-column: 1/2;
    grid-row: 6/7; }

  .gallery-item-g {
    grid-column: 1/2;
    grid-row: 7/8; }

  .gallery-item-h {
    grid-column: 1/2;
    grid-row: 8/9; }

  .gallery-item-i {
    grid-column: 1/2;
    grid-row: 9/10; }

  .logo {
    position: static; }

  .project {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr; }

  .content {
    background-size: 12px; } }
@media screen and (min-width: 601px) {
  .main-grid {
    grid-template-rows: 72px 72px auto 72px;
    grid-template-areas: "logo" "header" "content" "footer"; }

  .logo {
    position: static; }

  .project {
    grid-template-columns: 1fr; }

  .content {
    background-size: 8px; } }
@media screen and (min-width: 901px) {
  .main-grid {
    grid-template-rows: 72px auto 72px;
    grid-template-columns: 144px auto;
    grid-template-areas: "logo header" "sidebar content" "sidebar footer"; }

  .logo {
    width: 144px;
    position: fixed;
    border-right: 1px solid darkgrey; }

  .project {
    grid-template-columns: 1fr; }

  .content {
    background-size: 8px; } }
@media screen and (min-width: 1201px) {
  .main-grid {
    grid-template-rows: 72px auto 72px;
    grid-template-columns: 216px auto;
    grid-template-areas: "logo header" "sidebar content" "sidebar footer"; }

  .logo {
    width: 216px;
    position: fixed;
    border-right: 1px solid darkgrey; }

  .project {
    grid-template-columns: 1fr 1fr; }

  .content {
    background-size: 8px; } }
