h1{
	background-color:#000000;
	color: #FFFFFF;
	font-weight: bold;
}

body{
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
	
li{
	text-decoration: none;
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.logo{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
	font-weight: bold;
	color:#FFFFFF;
}
	
nav a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #343543;
}




