h1{
	background-color:#000000;
	color: #FFFFFF;
	font-weight: bold;
}

body{
	background-color:#FFFFFF;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
	
li{
	text-decoration: none;
	display: inline;
	color: #232323;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.logo{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
	font-weight: bold;
}
	
nav a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}




