@charset "UTF-8";
/* CSS Document */


h1{
	font-family: 'Merriweather', serif;
	font-size: 24pt;
	font-weight: 900;
	color: black;
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 14pt;
	font-weight: 900;
	color: black;
	line-height: 1.5em;

}

h3{
	font-family: 'Merriweather', serif;
	font-size: 12pt;
	font-weight: 900;
	color: black;
	line-height: 1.5em;

	display: none;

}

h4{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 8pt;
	font-weight: 900;
	color: black;
	line-height: 1.5em;

}

p{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 9pt;
	font-weight: 100;
	color: black;
	line-height: 1.5em;
}

a{
	color: lightblue;
}

nav li a{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-size: 8pt;
	text-decoration: none;
	color: darkgrey;
}

nav li a:hover{
	color: lightblue;
}

nav li a:focus{
	color: lightblue;
}

.current{
	color: lightblue;
}

.jump{
	position:absolute;
	left: -999px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	text-decoration: none;
	font-style: italic;
	color: darkgrey;
	font-size: 8pt;
}

.jump:focus{
	position:absolute;
	left: 144px;
	color: lightblue;
}

.sidebar{
	grid-area: sidebar;
	border-right: 1px solid darkgrey;
	display: grid;
	grid-template-rows: 72px auto 72px;
	grid-area: 
		"logo"
		"sidebar-nav"
		"sidebar-footer"

}

.logo{
	grid-area: logo;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12pt;
	height: 72px;
	margin-left: 32px;
	border: medium;
	border-color: black;
}

.sidebar-nav{
	display: none;
	grid-area: sidebar-nav;
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 32px;
}

.sidebar-nav-item{
	
}

.sidebar-footer{
	display: none;
	grid-area: sidebar-footer;
	height: 72px;
	margin-left: 32px;
}

.header{
	grid-area: header;
}



.header-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
}

.header-nav-item{
	color:white;
	padding: 16px;
}

.footer{
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 72px;
}

.footer-link{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: darkgrey;
	font-size: 8pt;
}

.footer-link:hover{
	color: lightblue;
}

.footer-link:focus{
	color: lightblue;
}

.content{
	grid-area: content;
	grid-template-rows: 16px auto;
	padding-left: 2%;
	padding-right: 2%;
	background-image: url("../images/background_grid.svg");
	background-size: 8px;

}

.title{
	grid-row-start: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 72px;
}



.project-item{
	display: grid;
	grid-template-rows: 32px auto;
	
}

.project-item-title{
	grid-row-start: 1;
}

.project-text-left{
	grid-row-start: 2;
	padding-right: 16px;
}

.project-text-right{
	grid-row-start: 2;
	padding-left: 16px;
}

.project-text-left-split{
	grid-row-start: 2;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
	
}

.project-text-right-split{
	grid-row-start: 2;
	padding-left: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
}

.project-img{
	max-width: 100%
}

.gallery{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	justtify-items: center;
	align-items: center;
	grid-gap: 2%;
}

.gallery-item-a{grid-column: 1/2; grid-row: 1/2;}
.gallery-item-b{grid-column: 2/3; grid-row: 1/2;}
.gallery-item-c{grid-column: 3/4; grid-row: 1/2;}
.gallery-item-d{grid-column: 1/2; grid-row: 2/3;}
.gallery-item-e{grid-column: 2/3; grid-row: 2/3;}
.gallery-item-f{grid-column: 3/4; grid-row: 2/3;}
.gallery-item-g{grid-column: 1/2; grid-row: 3/4;}
.gallery-item-h{grid-column: 2/3; grid-row: 3/4;}
.gallery-item-i{grid-column: 3/4; grid-row: 3/4;}

.gallery-img{
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}


@media screen and (max-width: 600px){
	.main-grid{
	display: grid;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"header"
		"content"
		"footer"
	}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 601px){
	.main-grid{
	display: grid;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"header"
		"content"
		"footer"
	}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 901px){
	.main-grid{
	display: grid;
	grid-template-columns: 144px auto;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"sidebar header"
		"sidebar content"
		"sidebar footer"
	}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 1201px){
	.main-grid{
	display: grid;
	grid-template-columns: 216px auto;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"sidebar header"
		"sidebar content"
		"sidebar footer"
	}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	}
}
}

@media screen and (min-width: 1801px){
	.main-grid{
	display: grid;
	grid-template-columns: 216px auto;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"sidebar header"
		"sidebar content"
		"sidebar footer"
	}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	}
}
}

