/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


//Typography Variables
$serif: 'Merriweather', serif;
$sans: 'Merriweather Sans', sans-serif;

$large: 24pt;
$medium: 16pt;
$small: 12pt;

$regular: 300;
$bold: 900;

$body-line-height: 1em;
$heading-line-height: 1.5em;

$black: #000000;
$green: #D5FE00;
$blue: #2931FF;


//Typography Mixins
@mixin body($size) {font: $regular $size $sans;}

@mixin body-bold($size) {font: $bold $size $sans;}

@mixin heading($size) {font: $bold $size $serif;}
	
	
//Layout Mixins
@mixin col-row($col, $row) {
	grid-column: $col;
	grid-row: $row;
}

h1{
	@include heading($large);
	color: $black;
	line-height: $heading-line-height;
}

h2{
	@include heading($medium);
	color: $black;
	line-height: $heading-line-height;
}

h3{
	@include heading($small);
	color: $black;
	line-height: $heading-line-height;
}

h4{
	@include body-bold($small);
	color: $black;
	line-height: $body-line-height;
}

p{
	@include body($small);
	color: $black;
	line-height: $body-line-height;
}

a{
	@include body($small);
	color: $blue;
	line-height: $body-line-height;
	text-decoration: none;
}

nav {
	li {
		a {
			@include body($small);
			color: $blue;
			line-height: $body-line-height;
			text-decoration: none;
			color: $black;
			&:hover {color: $blue;}
			&:focus {color: $blue;}
		}
	}
}

.current{
	color: $blue;
}

.jump{
	position:absolute;
	left: -999px;
	font-style: italic;
	&:focus {
		position:absolute;
		left: 144px;
	}
}

.sidebar{
	grid-area: sidebar;
	border-right: 1px solid darkgrey;
	display: grid;
	grid-template-rows: 72px auto 72px;
	grid-area: 
		"logo"
		"sidebar-nav"
		"sidebar-footer"

}

.logo{
	grid-area: logo;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 72px;
}

.logo-text{
	margin-left: 32px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12pt;
	line-height: 1em;
}

.sidebar-nav{
	display: none;
	grid-area: sidebar-nav;
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 32px;
}

.sidebar-nav-item{
	
}

.sidebar-footer{
	display: none;
	grid-area: sidebar-footer;
	height: 72px;
	margin-left: 32px;
}

.header{
	grid-area: header;
}

.header-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
}

.header-nav-item{
	color:white;
	padding: 16px;
}

.footer{
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 72px;
}

.footer-link{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #424352;
	font-size: 8pt;
}

.footer-link:hover{
	color: black;
}

.footer-link:focus{
	color: black;
}

.content{
	grid-area: content;
	grid-template-rows: 16px auto;
	padding-left: 2%;
	padding-right: 2%;
	background-image: url("../images/background_grid.svg");
	background-size: 8px;

}

.title{
	grid-row-start: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 72px;
}

.project{
	grid-row-start: 2;
	display: grid;
	}

.project-item{
	display: grid;
	grid-template-rows: 32px auto;
	
}

.project-item-title{
	grid-row-start: 1;
}

.project-text-left{
	grid-row-start: 2;
	padding-right: 16px;
}

.project-text-right{
	grid-row-start: 2;
	padding-left: 16px;
}

.project-text-left-split{
	grid-row-start: 2;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
	
}

.project-text-right-split{
	grid-row-start: 2;
	padding-left: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
}

.project-img{
	max-width: 100%
}

.rwd-img{
	max-width: 10px
}

.gallery{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	justtify-items: center;
	align-items: center;
	grid-gap: 2%;
}

.gallery-item-a{grid-column: 1/2; grid-row: 1/2;}
.gallery-item-b{grid-column: 2/3; grid-row: 1/2;}
.gallery-item-c{grid-column: 3/4; grid-row: 1/2;}
.gallery-item-d{grid-column: 1/2; grid-row: 2/3;}
.gallery-item-e{grid-column: 2/3; grid-row: 2/3;}
.gallery-item-f{grid-column: 3/4; grid-row: 2/3;}
.gallery-item-g{grid-column: 1/2; grid-row: 3/4;}
.gallery-item-h{grid-column: 2/3; grid-row: 3/4;}
.gallery-item-i{grid-column: 3/4; grid-row: 3/4;}

.gallery-img{
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

.main-grid{
	display: grid;
	}



@media screen and (max-width: 600px){
	.main-grid{
		grid-template-rows: 72px 72px auto 72px;
		grid-template-areas: 
			"logo"
			"header"
			"content"
			"footer"
	}
	
	.gallery{
		grid-template-columns: auto;
		grid-template-rows: repeat(9, 1fr);
	}
	
	.gallery-item-a{grid-column: 1/2; grid-row: 1/2;}
	.gallery-item-b{grid-column: 1/2; grid-row: 2/3;}
	.gallery-item-c{grid-column: 1/2; grid-row: 3/4;}
	.gallery-item-d{grid-column: 1/2; grid-row: 4/5;}
	.gallery-item-e{grid-column: 1/2; grid-row: 5/6;}
	.gallery-item-f{grid-column: 1/2; grid-row: 6/7;}
	.gallery-item-g{grid-column: 1/2; grid-row: 7/8;}
	.gallery-item-h{grid-column: 1/2; grid-row: 8/9;}
	.gallery-item-i{grid-column: 1/2; grid-row: 9/10;}
	
	p{font-size: 12pt;}
	
	nav li a{font-size: 12pt;}
	
	.logo{position: static;}
	
	.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr;
	}
	
	.content{background-size: 12px;}
	
	p{font-size: 12pt;}
	
	h4{font-size: 12pt;}
	
	nav li a{font-size: 12pt;}
	
	.footer-link{font-size: 12pt;}
}

@media screen and (min-width: 601px){
	.main-grid{
		grid-template-rows: 72px 72px auto 72px;
		grid-template-areas: 
			"logo"
			"header"
			"content"
			"footer"
	}
	
	p{font-size: 8pt;}
	
	h4{font-size: 8pt;}
	
	nav li a{font-size: 8pt;}
	
	.footer-link{font-size: 8pt;}

	.logo{position: static;}
	
	.project{grid-template-columns: 1fr;}
	
	.content{background-size: 8px;}
}


@media screen and (min-width: 901px){
	.main-grid{
		grid-template-rows: 72px auto 72px;
		grid-template-columns: 144px auto;
		grid-template-areas: 
			"logo header"
			"sidebar content"
			"sidebar footer"
	}
	
	.logo{
		width: 144px;
		position: fixed;
		border-right: 1px solid darkgrey;
	}
	
	.project{grid-template-columns: 1fr;}
	
	.content{background-size: 8px;}

}


@media screen and (min-width: 1201px){
	.main-grid{
		grid-template-rows: 72px auto 72px;
		grid-template-columns: 216px auto;
		grid-template-areas: 
			"logo header"
			"sidebar content"
			"sidebar footer"
	}
	
	.logo{
		width: 216px;
		position: fixed;
		border-right: 1px solid darkgrey;
	}
	
	.project{grid-template-columns: 1fr 1fr;}
		
	.content{background-size: 8px;}

}